* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gamja Flower", cursive;
  font-size: 2rem;
}
body {
  background-color: #fffff2;
}

html {
  font-size: 62.5%;
}

button {
  box-shadow: 3px 3px 0 0 #e4572e;
  cursor: pointer;
}

.header {
  background-color: #e4572e;
  height: 10rem;
}

.header-text {
  text-align: center;
}

.header-text-large {
  font-family: "Chelsea Market", cursive;
  font-size: 30px;
  padding-top: 1.8rem;
  padding-bottom: 1.3rem;
}

.header-text-small {
  color: #fff;
  font-size: 2.5rem;
}

#button {
  width: 50%;
  margin: 1rem 25% 2rem;

  box-shadow: 3px 3px 0 0 #e4572e;
  background-color: #000;
  color: #fff;
}

.modal {
  position: fixed;
  width: 70%;
  background-color: #fffff2;
  margin-left: 15%;
  top: 10rem;
  padding-bottom: 2rem;
  display: none;
}

.modal-content {
  width: 80%;
  margin-left: 10%;
}

.form-input {
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: flex-end;
}

#ok {
  margin-right: 2rem;
}

#counts {
  text-align: center;
}

.main-content-top {
  box-shadow: 3px 3px 0 0 #e4572e;
  border: 4px solid #050401;
  margin: 1rem 20rem;
  height: auto;
}

.article-content {
  display: flex;
}
.main-content-bottom {
  box-shadow: 3px 3px 0 0 #e4572e;
  border: 4px solid #050401;
  margin: 1rem 20rem;
  display: block;
  height: 200px;
}

article h2 {
  width: 100%;
  flex: 1;
}

.img1 {
  order: 1;
}

.img2 {
  float: right;
}

.footer {
  text-align: center;
  margin: 6rem 0 10rem;
}

#Footer-top {
  font-weight: bolder;
}

.footer-form {
  position: relative;
}

.footer-form-name {
  float: left;
  margin-left: 45.5rem;
  box-shadow: 3px 3px 0 0 #e4572e;
}

.footer-form-email {
  float: left;
  margin-left: 66rem;
  margin-top: -2.9rem;
  box-shadow: 3px 3px 0 0 #e4572e;
}

.footer-form-submit {
  position: absolute;
  margin-left: 87rem;
  box-shadow: 3px 3px 0 0 #e4572e;
}

.Footer-bottom {
  position: absolute;
  margin: 5rem 0rem 5rem 52rem;
}
